/* Barre de défilement cachée */
::-webkit-scrollbar { 
  display: none; 
  }

main {
  margin-top:43px !important;
  /* Taille de la barre de navigation  */
}

nav, main, footer {
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
}

a {
  cursor: crosshair;
  text-decoration: none !important;
  color: white !important;
  transition: none !important;
}

/* !FONTS */
  @font-face {
    font-family: 'CommonSans-Regular';
    src: url('../CommonSans-Regular.otf');
  }
  * {
    font-family: 'CommonSans-Regular' !important;
  }

  @media (max-width: 576px) {
    html {
      font-size: 18fpx !important;
    }
  }

  @media (min-width: 576px) {
    html {
      font-size: 19px !important;
    }
  }

  @media (min-width: 768px) {
    html {
      font-size: 20px !important;
    }
  }

  @media (min-width: 992px) {
    html {
      font-size: 21px !important;
    }
  }

  @media (min-width: 1200px) {
    html {
      font-size: 22px !important;
    }
  }
/* !======= */

/* !HOVER */
  .colored:hover {
    color:#0033CC !important;
    cursor: crosshair;
  }
  .colored {
    color:#D2D2D2 !important;
  }

  .carousel-indicators li:hover  {
    cursor: crosshair;
  }
/* !======= */

/* *=========== NAVBAR =========== */
  nav {
    border-bottom: 1px solid white;
    /* height: 100%; */
    min-height: 43px;
    background-color:black;
  }
  .logo {
    color: white;
    padding-top: auto;
    padding-bottom: auto;
    margin-right: 1rem;
    /* font-size: 1.25rem; */
    text-decoration: none;
    white-space: nowrap;
  }
  .Clicked {
    color: #0033CC !important;
  }
/* *=========== */

/* *=========== FOOTER ACCUEIL =========== */
  .content {
    min-height: calc(100vh - 47px);
    padding: 0px 0px 0 0px;
  }
  .footer {
    height: 34px;
    padding-top: 7px !important;
    font-size: 13px;
    padding-right: 10px;
  }
  body {
    margin: 0;
    /* font: 16px Sans-Serif; */
  }
  h1 {
    margin: 0 0 20px 0;
  }
  p {
    margin: 0 0 20px 0;
  }
  footer {
    background: black;
    color: white;
    padding: -2px 7px 0px 20px;
    text-align: right;
    height: 32px;
    border-top: 1px solid white;
  }
/* *===========*/


/* ?=========== PAGE D'ACCUEIL =========== */
  .noir {
    color:black;
    font-weight: bold;
  }  

  figure {
    margin: 0 !important; 
    padding: 0;
    float: left;
    position: relative;
  }

  figure figcaption {
    color:white;
    position: absolute;
    left:3;
    bottom:0;
    width: 97.5%;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 6px;
  }
/* ?=========== */

/* ?=========== PAGE PROJETS =========== */
  /* RESPONSIVE IMG PADDING */
  .projetsIMG {
    padding-top: 15px;
    padding-left: 15px;
  }
  figure.projetsIMG img{
    padding-bottom: 15px;
  }
/* ?=========== */

/* ?=========== PAGE CONTACT =========== */
  .contactText {
    border-bottom: 1px solid white;
    padding-left: 12px !important;
  }
/* ?=========== */

/* ?========= unPROJET ========== */
  .carousel,.carousel-inner {
    height: calc(100vh - 43px);
  }

  .item {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .carousel-indicators li  {
    height: 17px !important;
    width: 17px !important;
    margin-right: 10px  !important;
    margin-left: 10px !important;
    transition: none  !important;
    background-color: #ffffff !important;
    border-radius: 50%;
    display: inline-block;
    transition: unset !important;
    background-blend-mode: color-dodge !important;
  }
/* ?=========== */
